<p style="color: green"><%= notice %></p>

<h1>Lists</h1>

<div id="lists" class="cards">
  <% @lists.each do |list| %>
   <div class="card-category"> <%= render list %>
    <p>
      <%= link_to "Show this list", list %>
      <%= image_tag list.image if list.image.attached? %>
    </p></div>
  <% end %>
</div>


<%= link_to "New list", new_list_path %>
