<p style="color: green"><%= notice %></p>

<h1><%= render @list %></h1>
<%= image_tag @list.image if @list.image.attached? %>

<% if @list.movies.any? %>
  <h2>Selected Movies:</h2>
  <ul>
    <% @list.movies.each do |movie| %>
      <li>
       <p><%= movie.title %></p>
        <p><%= image_tag  movie.remote_poster_url, width: 200 %></p>
        <% bookmark = Bookmark.find_by(list_id: @list.id, movie_id: movie.id) %>
        <% if bookmark.present? %>
          <p><%= bookmark.comment %></p>
          <%= link_to "Remove bookmark", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        <% else %>
          <p>No comment for this movie.</p>
        <% end %>
      </div></li>
    <% end %>
  </ul></div>
<% else %>
  <p>No movies selected.</p>
<% end %>

<%= link_to "Back to lists", lists_path %>
<%= link_to "Add a bookmark", new_list_bookmark_path(@list) %>
